.img1{
  background-image: url("assets/img/hero-carousel/hero-carousel-1.jpg")
}

.img2 {
  background-image: url("assets/img/bolsa.jpg")
}

.img3 {
  background-image: url("assets/img/empresa.jpg")
}

.img4 {
  background-image: url("assets/img/indicadores.jpg")
}

.img5 {
  background-image: url("assets/img/acoes.jpg")
}

.imagem6 {
  background-image: url("assets/img/cotacoes.jpg")
}

.img6 {
  background-image: url("assets/img/img6.jpg")
}